@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="alert alert-primary">
        <h1><marquee>Application de gestion de paiement</marquee></h1>
    </div>
</div>

<div>
    <p>
        En tant qu'agent de [Nom de l'Application], vous êtes responsable de la gestion des paiements et des transactions, de l'assistance aux utilisateurs, de la validation des paiements, ainsi que du suivi des litiges. Vous avez à votre disposition un tableau de bord personnalisé pour suivre les paiements, gérer les utilisateurs, et analyser les transactions.

        Les outils intégrés vous permettent de communiquer facilement avec les utilisateurs et de gérer les réclamations en temps réel. Vous recevrez également des alertes et notifications pour les transactions en attente ou les problèmes à résoudre.

        L'application est conçue pour être facile à utiliser, tout en offrant un haut niveau de sécurité pour protéger les données et les paiements. Vous bénéficierez également d'un support continu pour vous accompagner dans vos missions.
    </p>
</div>